In [1]:
import pandas as pd
import numpy as np
import json
import ast

In [2]:
df = pd.read_csv(r"C:\Users\M.Srimanth\Downloads\TRADES_CopyTr_90D_ROI.csv")

In [3]:
df

                Port_IDs                                      Trade_History
0    3925368433214965504  [{'time': 1718899656000, 'symbol': 'SOLUSDT', ...
1    4002413037164645377  [{'time': 1718980078000, 'symbol': 'NEARUSDT',...
2    3923766029921022977  [{'time': 1718677164000, 'symbol': 'ETHUSDT', ...
3    3994879592543698688  [{'time': 1718678214000, 'symbol': 'ETHUSDT', ...
4    3926423286576838657  [{'time': 1718979615000, 'symbol': 'ETHUSDT', ...
..                   ...                                                ...
145  4000222729738650369  [{'time': 1718982068000, 'symbol': 'ARKMUSDT',...
146  3998659472131949824  [{'time': 1718979385000, 'symbol': 'BTCUSDT', ...
147  4028701921959171840  [{'time': 1718984241000, 'symbol': 'BTCUSDT', ...
148  4014818740371615232  [{'time': 1718983357000, 'symbol': 'SOLUSDT', ...
149  3768170840939476993  [{'time': 1718977395000, 'symbol': 'BNBUSDT', ...

[150 rows x 2 columns]

In [4]:
type(df['Trade_History'])

pandas.core.series.Series

In [44]:
# Extracting Data from Trade_History
def parse_trade_history(trade_history):
    if pd.isna(trade_history):
        return []  # Return an empty list or handle it as needed
    return ast.literal_eval(trade_history)

# Initialize an empty list to collect the trade histories
all_trade_histories = []

for _, row in df.iterrows():
    port_id = row['Port_IDs']
    trade_histories = parse_trade_history(row['Trade_History'])
    
    for trade in trade_histories:
        trade['Port_IDs'] = port_id  # Add the Port_IDs to the trade dictionary
        all_trade_histories.append(trade)

# If you want to convert this back to a DataFrame
trade_histories_df = pd.DataFrame(all_trade_histories)

In [6]:
trade_histories_df

,time,symbol,side,price,fee,feeAsset,quantity,quantityAsset,realizedProfit,realizedProfitAsset,baseAsset,qty,positionSide,activeBuy,Port_IDs
0,1718899656000,SOLUSDT,BUY,132.537000,-0.994027,USDT,1988.055000,USDT,0.0,USDT,SOL,15.0,LONG,True,3925368433214965504
1,1718899618000,DOGEUSDT,BUY,0.121820,-0.279796,USDT,1398.980880,USDT,0.0,USDT,DOGE,11484.0,LONG,False,3925368433214965504
2,1718899618000,DOGEUSDT,BUY,0.121820,-0.039494,USDT,197.470220,USDT,0.0,USDT,DOGE,1621.0,LONG,False,3925368433214965504
3,1718899616000,DOGEUSDT,BUY,0.121820,-0.008284,USDT,16.567520,USDT,0.0,USDT,DOGE,136.0,LONG,True,3925368433214965504
4,1718899616000,DOGEUSDT,BUY,0.121820,-0.046109,USDT,92.217740,USDT,0.0,USDT,DOGE,757.0,LONG,True,3925368433214965504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211272,1718549875000,JASMYUSDT,SELL,0.035968,-0.025070,USDT,50.139392,USDT,0.0,USDT,JASMY,1394.0,BOTH,False,3768170840939476993
211273,1718549875000,JASMYUSDT,SELL,0.035968,-0.008255,USDT,16.509312,USDT,0.0,USDT,JASMY,459.0,BOTH,False,3768170840939476993
211274,1718549875000,JASMYUSDT,SELL,0.035969,-0.031545,USDT,63.089626,USDT,0.0,USDT,JASMY,1754.0,BOTH,False,3768170840939476993
211275,1718549875000,JASMYUSDT,SELL,0.035969,-0.031905,USDT,63.809006,USDT,0.0,USDT,JASMY,1774.0,BOTH,False,3768170840939476993
211276,1718549875000,JASMYUSDT,SELL,0.035972,-0.005018,USDT,10.036188,USDT,0.0,USDT,JASMY,279.0,BOTH,False,3768170840939476993

In [7]:
trade_histories_df['Port_IDs'].unique()

array([3925368433214965504, 4002413037164645377, 3923766029921022977,
       3994879592543698688, 3926423286576838657, 3987739404272887297,
       4030395639953224449, 3953433416230728705, 3919174299855478272,
       4029749871687083265, 4013978721149559808, 3878631538480067329,
       3996598927198996481, 4017323550554338817, 3988205565930333696,
       3978449781300392193, 4031181049693676544, 4011626972687000576,
       4023697881318718465, 4041804592937345281, 4031173908980084736,
       3891020560590657281, 3956076827719377409, 4021669203289716224,
       3944239644144231424, 3998572645139652353, 4031451549482615297,
       4033639786957934336, 4029422834086627072, 3914654298562589441,
       4030565764341697025, 4034786679304751616, 4029299190618134272,
       4030555430101054209, 4031414524297538817, 3986814617275053313,
       4019895412775450368, 4026179081117855488, 4036548677626662656,
       4017110277719148289, 4035430878731345664, 3983074113875692800,
       3981810242465907713, 3788465932399412480, 4023697433751327232,
       4029506971304830209, 3977234346014419201, 3995532094997544704,
       4037785885739608577, 3957509601040585217, 4028427053699127040,
       4037121179310444801, 3941019213896463617, 4041860229502600193,
       3988071780777702657, 4034359562055356161, 3939925275039085824,
       4031493134338259457, 3977116548751698176, 4008537296438699777,
       3936410995029308417, 4033614723417828608, 4037282461943784704,
       4012994295026226176, 3960874214179953664, 4040843843196854529,
       3991414786174551297, 3932103299427844097, 3966142151544441601,
       3910887259807777281, 3887577207880438784, 4037179073830813185,
       4021243448368889856, 4004410127575640832, 4006366295148391425,
       3939318616482048768, 4000877324693233921, 3879821005658659073,
       3993014919980212480, 4030626027667524352, 4037073643537925121,
       3944658614777849089, 4020204877254599680, 3819545518395756033,
       3931992636670880512, 4022641794255717633, 3672754654734989568,
       4022565861939831809, 3942630767220672256, 4027747397961573889,
       3786761687746711808, 3999845462424248576, 4032403303704824321,
       4035034554469394176, 3944088772635000577, 3946087913459823360,
       4004713168329653760, 3930688517098515713, 3949329502284748801,
       3784403294629753856, 3977078013600312321, 4013955990069013504,
       3951723256343550465, 3858510226868015873, 4030708912786799105,
       4030635536196756737, 4030392204221219329, 4008711265867865600,
       3962024093501274881, 4039279455324236544, 4029507714735307777,
       4031408429897920512, 4016164457907769600, 3865845304835489536,
       3733192481840423936, 3976088733682659585, 3953764659057081857,
       3943533600390906881, 3907081197088384000, 3886752488982104320,
       4031673021422897664, 4037717032428033792, 3975392755164484097,
       3949214983441029120, 3935808725185052672, 4040382575336130560,
       3999240873283311617, 3880920727367689984, 3956048468100538880,
       4038768306117031680, 3826087012661391104, 3937714876784951296,
       3993222640082269952, 3910983669796782848, 3952087967771302912,
       4037511388357114368, 4023616625178799873, 3975304792994095360,
       4017263283405469185, 3818233536529843712, 4039129759104249600,
       3911997667197443328, 4008804082027254529, 3988187872032603905,
       4000222729738650369, 3998659472131949824, 4028701921959171840,
       4014818740371615232, 3768170840939476993], dtype=int64)

In [8]:
trade_histories_df['Port_IDs'].nunique()

149

In [9]:
trade_histories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211277 entries, 0 to 211276
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   time                 211277 non-null  int64
 1   symbol               211277 non-null  object
 2   side                 211277 non-null  object
 3   price                211277 non-null  float64
 4   fee                  211277 non-null  float64
 5   feeAsset             211277 non-null  object
 6   quantity             211277 non-null  float64
 7   quantityAsset        211277 non-null  object
 8   realizedProfit       211277 non-null  float64
 9   realizedProfitAsset  211277 non-null  object
 10  baseAsset            211277 non-null  object
 11  qty                  211277 non-null  float64
 12  positionSide         211277 non-null  object
 13  activeBuy            211277 non-null  bool
 14  Port_IDs             211277 non-null  int64
dtypes: bool(1), float64(5), int64(2), object(7)
memory usage: 22.8+ MB

In [10]:
trade_histories_df.describe()

,time,price,fee,quantity,realizedProfit,qty,Port_IDs
count,2.112770e+05,211277.000000,211277.000000,211277.000000,211277.000000,2.112770e+05,2.112770e+05
mean,1.717434e+12,4129.040315,-0.382787,975.509483,3.270818,1.090626e+04,3.964346e+18
std,1.351340e+09,15363.534288,1.793858,4667.098916,57.895095,1.562781e+05,6.102597e+16
min,1.713804e+12,0.000158,-120.458652,0.006694,-3269.194444,1.000000e-03,3.672755e+18
25%,1.716470e+12,0.143830,-0.179868,23.340915,0.000000,2.000000e+00,3.942631e+18
50%,1.717761e+12,2.483300,-0.051732,127.775000,0.000000,2.600000e+01,3.977117e+18
75%,1.718640e+12,44.621000,-0.009454,404.012000,0.577590,5.790000e+02,4.011627e+18
max,1.718990e+12,72105.000000,0.000000,602293.260000,8186.254058,2.100000e+07,4.041860e+18

In [11]:
Total_profit = trade_histories_df.groupby(['Port_IDs'])['realizedProfit'].sum()

In [12]:
Total_profit

Port_IDs
3672754654734989568     566.597660
3733192481840423936    2923.977200
3768170840939476993     243.668899
3784403294629753856    2521.814305
3786761687746711808     205.021400
                          ...
4039279455324236544    1038.807419
4040382575336130560       0.000000
4040843843196854529    2151.704060
4041804592937345281    -776.343000
4041860229502600193    2327.336000
Name: realizedProfit, Length: 149, dtype: float64

In [13]:
total_position = trade_histories_df['Port_IDs'].value_counts()

In [14]:
total_position[:5]

Port_IDs
3946087913459823360    6085
3944088772635000577    6063
4011626972687000576    6056
4022641794255717633    6052
3995532094997544704    6051
Name: count, dtype: int64

In [16]:
trade_histories_df['Investment'] = (trade_histories_df['quantity'] * trade_histories_df['price'])+trade_histories_df['fee']

In [17]:
trade_histories_df['Investment'].isna().sum()

0

In [18]:
Total_investment = trade_histories_df.groupby(['Port_IDs']) ['Investment'].sum()

In [19]:
Total_investment[:5]

Port_IDs
3672754654734989568    9.339846e+08
3733192481840423936    5.528548e+10
3768170840939476993    5.799218e+05
3784403294629753856    3.521124e+08
3786761687746711808    2.796829e+09
Name: Investment, dtype: float64

In [20]:
trade_histories_df['profitable'] = trade_histories_df['realizedProfit']> 0

In [21]:
winning_pos = trade_histories_df.groupby(['Port_IDs']) ['profitable'].sum()

In [22]:
winning_pos

Port_IDs
3672754654734989568     210
3733192481840423936     553
3768170840939476993       6
3784403294629753856    1829
3786761687746711808      37
                       ...
4039279455324236544     181
4040382575336130560       0
4040843843196854529      19
4041804592937345281      85
4041860229502600193      38
Name: profitable, Length: 149, dtype: int64

In [23]:
mean_profit = trade_histories_df.groupby(['Port_IDs'])['realizedProfit'].mean()

In [24]:
mean_profit[:5]

Port_IDs
3672754654734989568     1.195354
3733192481840423936     4.243799
3768170840939476993    17.404921
3784403294629753856     0.416829
3786761687746711808     2.500261
Name: realizedProfit, dtype: float64

In [25]:
std_profit = trade_histories_df.groupby(['Port_IDs'])['realizedProfit'].std()

In [26]:
std_profit[:5]

Port_IDs
3672754654734989568     6.451799
3733192481840423936    70.418447
3768170840939476993    41.022499
3784403294629753856     3.910762
3786761687746711808    11.620986
Name: realizedProfit, dtype: float64

In [27]:
# creating function for max_dropdown
def calculate_max_drawdown(equity_curve):
    # Convert Series to a NumPy array for easy access
    equity_array = equity_curve.values
    peak = equity_array[0]  # Get the first value of the equity curve
    max_drawdown = 0

    for value in equity_array:
        if value > peak:
            peak = value
        drawdown = (peak - value) / peak
        if drawdown > max_drawdown:
            max_drawdown = drawdown

    return max_drawdown

In [28]:
trade_histories_df['equity_curv'] = trade_histories_df.groupby('Port_IDs')['realizedProfit'].cumsum()

In [29]:
MDD = trade_histories_df.groupby(['Port_IDs'])['equity_curv'].apply(calculate_max_drawdown)

C:\Users\M.Srimanth\AppData\Local\Temp\ipykernel_18320\609861078.py:12: RuntimeWarning: invalid value encountered in scalar divide
  drawdown = (peak - value) / peak
C:\Users\M.Srimanth\AppData\Local\Temp\ipykernel_18320\609861078.py:12: RuntimeWarning: divide by zero encountered in scalar divide
  drawdown = (peak - value) / peak

In [30]:
MDD[:5]

Port_IDs
3672754654734989568    0.460781
3733192481840423936    0.760355
3768170840939476993    0.000000
3784403294629753856    0.177261
3786761687746711808    2.318212
Name: equity_curv, dtype: float64

In [32]:
# Merging Total_investment, Total_profit, MDD, std_profit, mean_profit, total_position, winning_pos

# Merge the first two DataFrames
df2 = pd.merge(Total_investment, Total_profit, on='Port_IDs', how='outer')

# Merge the result with MDD
df2 = pd.merge(df2, MDD, on='Port_IDs', how='outer')

# Merge with std_profit
df2 = pd.merge(df2, std_profit, on='Port_IDs', how='outer')

# Merge with mean_profit
df2 = pd.merge(df2, mean_profit, on='Port_IDs', how='outer')

# Merge with total_position
df2 = pd.merge(df2, total_position, on='Port_IDs', how='outer')

# Merge with winning_pos
df2 = pd.merge(df2, winning_pos, on='Port_IDs', how='outer')

In [33]:
df2

,Investment,realizedProfit_x,equity_curv,realizedProfit_y,realizedProfit,count,profitable
Port_IDs,,,,,,,
3672754654734989568,9.339846e+08,566.597660,0.460781,6.451799,1.195354,474,210
3733192481840423936,5.528548e+10,2923.977200,0.760355,70.418447,4.243799,689,553
3768170840939476993,5.799218e+05,243.668899,0.000000,41.022499,17.404921,14,6
3784403294629753856,3.521124e+08,2521.814305,0.177261,3.910762,0.416829,6050,1829
3786761687746711808,2.796829e+09,205.021400,2.318212,11.620986,2.500261,82,37
...,...,...,...,...,...,...,...
4039279455324236544,5.646955e+04,1038.807419,0.000000,6.734983,3.176781,327,181
4040382575336130560,1.090122e+04,0.000000,0.000000,0.000000,0.000000,76,0
4040843843196854529,7.739752e+08,2151.704060,0.000000,106.739883,36.469560,59,19
4041804592937345281,1.587280e+09,-776.343000,46.067384,27.071103,-2.109628,368,85
4041860229502600193,2.332554e+07,2327.336000,0.000000,52.479216,23.993155,97,38

In [45]:
# Renaming the columns Name 
df2 = df2.rename(columns={
    'realizedProfit_x':'total_profit',
    'realizedProfit_y': 'std_profit',
    'realizedProfit' : 'mean_profit',
    'count'          : 'total_pos',
    'profitable'     : 'wining_pos',
    'equity_curv'    : 'MDD'
    
    })

In [35]:
df2

,Investment,total_profit,MDD,std_profit,mean_profit,total_pos,wining_pos
Port_IDs,,,,,,,
3672754654734989568,9.339846e+08,566.597660,0.460781,6.451799,1.195354,474,210
3733192481840423936,5.528548e+10,2923.977200,0.760355,70.418447,4.243799,689,553
3768170840939476993,5.799218e+05,243.668899,0.000000,41.022499,17.404921,14,6
3784403294629753856,3.521124e+08,2521.814305,0.177261,3.910762,0.416829,6050,1829
3786761687746711808,2.796829e+09,205.021400,2.318212,11.620986,2.500261,82,37
...,...,...,...,...,...,...,...
4039279455324236544,5.646955e+04,1038.807419,0.000000,6.734983,3.176781,327,181
4040382575336130560,1.090122e+04,0.000000,0.000000,0.000000,0.000000,76,0
4040843843196854529,7.739752e+08,2151.704060,0.000000,106.739883,36.469560,59,19
4041804592937345281,1.587280e+09,-776.343000,46.067384,27.071103,-2.109628,368,85
4041860229502600193,2.332554e+07,2327.336000,0.000000,52.479216,23.993155,97,38

In [36]:
df2['ROI'] = (df2['total_profit'] / df2['Investment'])*100

In [37]:
df2['Sharpe_Ratio'] = df2['mean_profit'] / df2['std_profit']

In [38]:
df2['Win_Rate'] = (df2['wining_pos'] / df2['total_pos'])*100

In [47]:
df2 = df2.drop(columns=['std_profit','mean_profit'])

In [48]:
df2

,Investment,total_profit,MDD,total_pos,wining_pos,ROI,Sharpe_Ratio,Win_Rate,Score
Port_IDs,,,,,,,,,
3672754654734989568,9.339846e+08,566.597660,0.460781,474,210,0.000061,0.185274,44.303797,17.693987
3733192481840423936,5.528548e+10,2923.977200,0.760355,689,553,0.000005,0.060265,80.261248,32.034492
3768170840939476993,5.799218e+05,243.668899,0.000000,14,6,0.042018,0.424277,42.857143,17.197890
3784403294629753856,3.521124e+08,2521.814305,0.177261,6050,1829,0.000716,0.106585,30.231405,12.085709
3786761687746711808,2.796829e+09,205.021400,2.318212,82,37,0.000007,0.215150,45.121951,17.838476
...,...,...,...,...,...,...,...,...,...
4039279455324236544,5.646955e+04,1038.807419,0.000000,327,181,1.839589,0.471684,55.351682,22.739718
4040382575336130560,1.090122e+04,0.000000,0.000000,76,0,0.000000,NaN,0.000000,NaN
4040843843196854529,7.739752e+08,2151.704060,0.000000,59,19,0.000278,0.341668,32.203390,12.915606
4041804592937345281,1.587280e+09,-776.343000,46.067384,368,85,-0.000049,-0.077929,23.097826,4.624584
4041860229502600193,2.332554e+07,2327.336000,0.000000,97,38,0.009978,0.457193,39.175258,15.718816

In [40]:
# finding top 20 accounts
df2['Score'] = (df2['ROI'] + df2['Win_Rate']) / 2
top_accounts = df2.sort_values(by='Score', ascending=False).head(20)

In [41]:
top_accounts

,Investment,total_profit,MDD,std_profit,mean_profit,total_pos,wining_pos,ROI,Sharpe_Ratio,Win_Rate,Score
Port_IDs,,,,,,,,,,,
3733192481840423936,5.528548e+10,2923.977200,0.760355,70.418447,4.243799,689,553,0.000005,0.060265,80.261248,40.130627
3986814617275053313,1.771623e+07,16337.461881,0.000149,13.939083,4.596922,3554,2780,0.092217,0.329787,78.221722,39.156970
3977234346014419201,6.614982e+03,2427.292831,0.000000,95.966687,29.244492,83,33,36.693867,0.304736,39.759036,38.226452
3886752488982104320,1.992630e+10,7195.178325,0.030571,25.982852,5.760751,1249,931,0.000036,0.221714,74.539632,37.269834
3891020560590657281,4.194558e+04,2856.300564,0.000000,15.113304,6.536157,437,283,6.809539,0.432477,64.759725,35.784632
3956048468100538880,5.642141e+09,1373.564890,0.000000,93.464378,49.055889,28,20,0.000024,0.524862,71.428571,35.714298
4013955990069013504,2.261678e+06,1690.027050,4.912135,20.589140,4.720746,358,236,0.074724,0.229283,65.921788,32.998256
3907081197088384000,4.697913e+07,18015.997370,0.242908,19.552192,4.354846,4137,2540,0.038349,0.222729,61.397148,30.717748
3826087012661391104,1.901015e+07,532.656974,0.050348,7.305582,4.932009,108,63,0.002802,0.675101,58.333333,29.168068
4039279455324236544,5.646955e+04,1038.807419,0.000000,6.734983,3.176781,327,181,1.839589,0.471684,55.351682,28.595635
4017110277719148289,6.508222e+09,2899.933021,0.000000,29.205381,11.507671,252,143,0.000045,0.394026,56.746032,28.373038
4000222729738650369,2.364198e+09,1803.620133,0.610725,7.588886,1.882693,958,537,0.000076,0.248086,56.054280,28.027178
3994879592543698688,1.155451e+09,3658.765062,0.156883,46.932823,5.603009,653,361,0.000317,0.119384,55.283308,27.641812
4032403303704824321,2.722276e+09,2060.570520,0.876380,85.689640,9.240227,223,123,0.000076,0.107834,55.156951,27.578513
3943533600390906881,1.183735e+09,2361.424572,0.014247,3.136058,1.342481,1759,964,0.000199,0.428079,54.803866,27.402033
4028701921959171840,2.837121e+11,17601.401398,0.045177,92.921483,25.620672,687,373,0.000006,0.275724,54.294032,27.147019
4008804082027254529,1.261963e+11,3332.733459,1.788920,88.338219,3.418188,975,527,0.000003,0.038694,54.051282,27.025642
3966142151544441601,2.340519e+10,4883.800776,181.381510,48.159777,2.527847,1932,1028,0.000021,0.052489,53.209110,26.604565
4022565861939831809,4.025859e+11,14197.577076,0.108960,67.217116,20.138407,705,372,0.000004,0.299602,52.765957,26.382980
4030635536196756737,1.890473e+10,2581.614175,0.139582,22.045105,1.995065,1294,679,0.000014,0.090499,52.472952,26.236483

In [46]:
#Fing the top 20 accounts
df2['Score'] = (0.3 * df2['ROI']) + (0.4 * df2['Win_Rate']) + \
                       (0.1 * df2['Sharpe_Ratio']) - (0.1 * df2['MDD'])
top_accounts2 = df2.sort_values(by='Score', ascending=False).head(20)

In [43]:
top_accounts2

,Investment,total_profit,MDD,std_profit,mean_profit,total_pos,wining_pos,ROI,Sharpe_Ratio,Win_Rate,Score
Port_IDs,,,,,,,,,,,
3733192481840423936,5.528548e+10,2923.977200,0.760355,70.418447,4.243799,689,553,0.000005,0.060265,80.261248,32.034492
3986814617275053313,1.771623e+07,16337.461881,0.000149,13.939083,4.596922,3554,2780,0.092217,0.329787,78.221722,31.349318
3886752488982104320,1.992630e+10,7195.178325,0.030571,25.982852,5.760751,1249,931,0.000036,0.221714,74.539632,29.834978
3956048468100538880,5.642141e+09,1373.564890,0.000000,93.464378,49.055889,28,20,0.000024,0.524862,71.428571,28.623922
3891020560590657281,4.194558e+04,2856.300564,0.000000,15.113304,6.536157,437,283,6.809539,0.432477,64.759725,27.990000
3977234346014419201,6.614982e+03,2427.292831,0.000000,95.966687,29.244492,83,33,36.693867,0.304736,39.759036,26.942248
4013955990069013504,2.261678e+06,1690.027050,4.912135,20.589140,4.720746,358,236,0.074724,0.229283,65.921788,25.922847
3907081197088384000,4.697913e+07,18015.997370,0.242908,19.552192,4.354846,4137,2540,0.038349,0.222729,61.397148,24.568346
3826087012661391104,1.901015e+07,532.656974,0.050348,7.305582,4.932009,108,63,0.002802,0.675101,58.333333,23.396649
4039279455324236544,5.646955e+04,1038.807419,0.000000,6.734983,3.176781,327,181,1.839589,0.471684,55.351682,22.739718
4017110277719148289,6.508222e+09,2899.933021,0.000000,29.205381,11.507671,252,143,0.000045,0.394026,56.746032,22.737829
4000222729738650369,2.364198e+09,1803.620133,0.610725,7.588886,1.882693,958,537,0.000076,0.248086,56.054280,22.385471
3994879592543698688,1.155451e+09,3658.765062,0.156883,46.932823,5.603009,653,361,0.000317,0.119384,55.283308,22.109668
4032403303704824321,2.722276e+09,2060.570520,0.876380,85.689640,9.240227,223,123,0.000076,0.107834,55.156951,21.985948
3943533600390906881,1.183735e+09,2361.424572,0.014247,3.136058,1.342481,1759,964,0.000199,0.428079,54.803866,21.962989
4028701921959171840,2.837121e+11,17601.401398,0.045177,92.921483,25.620672,687,373,0.000006,0.275724,54.294032,21.740669
4008804082027254529,1.261963e+11,3332.733459,1.788920,88.338219,3.418188,975,527,0.000003,0.038694,54.051282,21.445491
4022565861939831809,4.025859e+11,14197.577076,0.108960,67.217116,20.138407,705,372,0.000004,0.299602,52.765957,21.125448
4030635536196756737,1.890473e+10,2581.614175,0.139582,22.045105,1.995065,1294,679,0.000014,0.090499,52.472952,20.984277
3999240873283311617,4.265337e+07,42574.473679,0.052816,41.383493,9.414965,4522,2366,0.099815,0.227505,52.321981,20.976206